<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Website</title>
</head>
<body>
    <h1>Are you sure ?</h1>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>
    <form action="" method="post">
        Click YES to confirm
        <input type="submit" value="YES">
        <a href="{{ url_for('main.show_all_categories') }}">Cancel</a>
    </form>
</body>
</html>