{% extends "base.html" %}

{% block content %}
    <h1 class="title">Are you sure ?</h1>
    <table class="table is-fullwidth">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>
    <form action="{{ url_for('main.delete_category', id = category.id) }}" method="post">
        Click YES to confirm
        <button type="submit" class="button is-small">YES</button>
    </form>
    <a href="{{ url_for('main.show_all_category') }}">
        <button class="button is-dark is-small">Cancel</button>
    </a>
{% endblock %}