{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h1 class="title">Update category</h1>
        <div class="box">
            <form method="post" action="{{ url_for('main.update_category', id=category.id) }}">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="name" placeholder="Name" value="{{ category.name }}">
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Save</button>
            </form>
        </div>
    </div>
{% endblock %}