{% extends "base.html" %}

{% block content %}
    <h1 class="title">Are you sure ?</h1>
    <table class="table is-fullwidth">
        <tbody>
            <tr>
                <th>Url</th>
                <td>{{ url.url }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ url.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ url.category.name }}</td>
            </tr>
        </tbody>
    </table>
    <form action="{{ url_for('main.delete', id = url.id) }}" method="post">
        Click YES to confirm
        <button type="submit" class="button is-small">YES</button>
    </form>
    <a href="{{ url_for('main.show_all_url') }}">
        <button class="button is-dark is-small">Cancel</button>
    </a>
{% endblock %}