{% extends "base.html" %}

{% block content %}
    <h1 class="title">Url list</h1>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>id</th>
                <th>url</th>
                <th>description</th>
                <th>category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <td>{{ url.id }}</td>
                    <td>{{ url.url }}</td>
                    <td>{{ url.description }}</td>
                    <td>{{ url.category.name }}</td>
                    <td>
                        <a href="{{ url_for('main.update', id=url.id) }}">
                            <button class="button is-info">Update</button>
                        </a>
                        <a href="{{ url_for('main.delete', id=url.id) }}">
                            <button class="button is-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('main.create') }}">
        <button class="button is-dark">Create</button>
    </a>
{% endblock %}