{% extends 'base.html' %}

{% block content %}
    <table class="table is-fullwidth">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ url.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ url.url }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ url.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ url.category.name }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ url_for('main.show_all_url') }}">
        <button class="button is-danger">Back</button>
    </a>
{% endblock %}