{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h1 class="title">Update url</h1>
        <div class="box">
            <form method="post" action="{{ url_for('main.update', id=url.id) }}">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="url" name="url" placeholder="Url" value="{{ url.url }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="description" placeholder="Description" value="{{ url.description }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <select class="input is-large" name="category_id">
                            {% for cat in categories %}
                                <option value="{{ cat.id }}">{{ cat.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Save</button>
            </form>
        </div>
    </div>
{% endblock %}