<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <form action="" method="post">
        <p><input type="text" name="username" placeholder="username"></p>
        <p><input type="text" name="firstname" placeholder="firstname"></p>
        <p><input type="text" name="lastname" placeholder="lastname"></p>
        <p><input type="text" name="university" placeholder="university"></p>
        <button type="submit">Valider</button>
    </form>
</body>
</html>